<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="style" href="frame.css" rel="stylesheet" type="text/css">
    <link id="style" href="indexAndAccCreate.css" rel="stylesheet" type="text/css">
    <script src="JScode.js" type="text/javaScript"></script>
    <title>Komodo Hub</title>

</head>

<body>

    <div class="topnav">
        <a href="#home">Komodo Hub</a>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <a href="active">Sign In</a>
        <a href="accountCreate.html">Sign Up</a>
    </div>

    <div id="container">

        <form action="MAILTO:kristapsdzenis91@gmail.com" method="post">

            <fieldset id="profile_image">
                <input type="file" id="imageUpload" name="image" accept="image/*"  onclick="Show_preview()"  required>
                <img id="preview" src="#" alt="">
            </fieldset>

            <p class="message"> Fields with * required</p>

            <fieldset id="form_1">
                <br>
                <label for="UName" class="align" >*Username</label>
                <input  type="text" id="UName" maxlength="15" minlength="6" name="Username" pattern="[[(A-Za-z)(0-9)\s]{6,15}" size="30"
                        title="Can only enter letters and numbers" placeholder="Username" required>
                <br>
                <br>
                <label for="PWord" class="align" >*Password</label>
                <input  type="text" id="PWord" maxlength="15" minlength="6" name="Password" pattern="[[(A-Za-z)(0-9)\s]{6,15}" size="30"
                        title="Can only enter letters and numbers" placeholder="Password" required>
                <br>
            </fieldset>

            <fieldset id="form_2">
                <br>
                <label for="pEmail" class="align" >*Email</label>
                <input id="pEmail" size="30" type="email" placeholder="E-mail" required>
                <br>
                <br>
                 <label for="fName" class="align" >*First name</label>
                <input  type="text" id="fName" maxlength="30" minlength="2" name="First Name" pattern="[A-Za-z]{2,30}" size="30"
                        title="Can only enter letters" placeholder="First name" required>
                <br>
                <br>
                <label for="lName" class="align" >*Last name</label>
                <input  type="text" id="lName" maxlength="30" minlength="2" name="Last Name" pattern="[A-Za-z]{2,30}" size="30"
                        title="Can only enter letters" placeholder="Last name" required>
                <br>
                <br>
                <label for="OrgName" class="align" >*Organisation/School Name</label>
                <input  type="text" id="OrgName" maxlength="30" minlength="2" name="OrgName" pattern="[A-Za-z]{2,30}" size="30"
                        title="Can only enter letters" placeholder="Organisation/School Name" required>
                <br>
                <br>
                <label class="" for="Type">*Account Type</label>
                <input id="Type" list="type" name="Type" placeholder="Type" required>
                <datalist id="type">

                    <option value="Standard">
                    <option value="Admin">
                    <option value="Teacher">
                    <option value="Student">

                </datalist>
                <br>
                <p> If user type admin, teacher or student provide your ID number bellow:</p>
                <br>
                <label for="ID" class="align" >ID Number</label>
                <input  type="text" id="ID" maxlength="10" minlength="6" name="Username" pattern="[[(A-Za-z)(0-9)\s]{6,10}" size="20"
                        title="Can only enter letters and numbers" placeholder="ID Number">
            </fieldset>

            <button type="submit" value="Send" class="move">Submit</button>

        </form>

    </div>

</body>

</html>
